{% extends 'basic.html' %}
{% block title %}Django CRM{% endblock %}
{% block body %}
{% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>


        {% endfor %}
      {% endif %}
{% if user.is_authenticated %}
<br>
<br>
<div class="container">

          <table class="table table-dark table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone_no</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Pincode</th>
              </tr>
            </thead>
            {% if customers %}
          {% for customer in customers%}
            <tbody class="table table-striped">
              <tr>
                <th scope="row"><a style="text-decoration: none;" href="/customer_record/{{customer.id}}">{{customer.id}}</a></th>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone_no}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.city}}</td>
                <td>{{customer.state}}</td>
                <td>{{customer.pincode}}</td>
              </tr>
              
            </tbody>
            {% endfor%}
{% endif %}

          </table>
        </div>         


{% else %}
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>
    
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
    
      <div class="mb-3">
        <input type="text" class="form-control" name="username", placeholder="Username" required>
        
      </div><br/>
      <div class="mb-3">
        <input type="password" class="form-control" name="password", placeholder="Password" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary">Login</button>
    
    </form>
{% endif %}
{% endblock %}